.DS_Store
frontend/package_bkp.json
node_modules/
frontend/node_modules/
.venv/
__pycache__/
*.pyc
.env
coverage/
dist/
.vercel
frontend/.next/
tests/e2e_prod_last_state.png
tests/e2e_prod_last_dom.html
tests/e2e_prod_browser.log
tests/e2e_prod_screenshot.png

# Google Credentials
google_credentials.json
**/google_credentials.json
backend/google_credentials.json

.env*.local
